" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
" Set the leader key
let mapleader = " "

" Key mappings
" Open Ex mode with <leader>pv
nnoremap <leader>pv :Ex<CR>

" Move selected lines up and down in visual mode
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Join lines while maintaining cursor position
nnoremap J mzJ`z

" Scroll and center the screen
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Search and center the screen on the match
nnoremap n nzzzv
nnoremap N Nzzzv

" Copy to system clipboard
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y
nnoremap <leader>p "+p

" Delete without affecting the default register
nnoremap <leader>dd "_dd
vnoremap <leader>d "_d
nnoremap <leader>dw "_dw

" Map <C-c> in insert mode to behave like <Esc>
inoremap <C-c> <Esc>

" Disable Q in normal mode
nnoremap Q <nop>


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
